<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="toolbar">
          <div class="container-fluid">
            <ul class="nav nav-tabs nav-tabs-info" data-tabs="tabs">
              <li class="active">
                <a href="#" data-toggle="tab">
                  <i class="material-icons">done_all</i> Все
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#" data-toggle="tab">
                  <i class="material-icons">content_paste</i> Документы
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#" data-toggle="tab">
                  <i class="material-icons">mail_outline</i> Обращения
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#" data-toggle="tab">
                  <i class="material-icons">date_range</i> Задачи
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#" data-toggle="tab">
                  <i class="material-icons">grid_on</i> Справочники
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-calendar">
          <div class="card-content ps-child">
            <div id="fullCalendar"></div>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
