<div style="display: none;" #printFormContainer>
    <!--Анкета заемщика-->
    <div id="borrowerProfile">
      <div class="container"
          style="max-width: 678px; width: 678px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
          <div class="row"
              style="background: #D9D9D9;
              border-bottom: 3px solid black;
              display: flex;
              min-height: 24px;
              justify-content: center;
              text-align: center;
              margin: 0 1px;
              -webkit-print-color-adjust: exact;">
          <span style="align-self: center;"><strong>АНКЕТА ЗАЕМЩИКА</strong></span>
          </div>
          <div class="row"
              style="border: none;
                  width: 100%;
                  display: flex;
                  padding-bottom: 4px;
                  min-height: 24px;
                  text-align: left;
                  margin: 0;">
              <span style="align-self: center;">ДАТА: {{item.orderDate | date:'dd.MM.yyyy HH:mm:ss':'+03'}}</span>
          </div>
          <div class="block"
            style=" border: 3px solid black;">
              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
              <div class="row"
              style="width: 100%;
                text-align: left;">
                  <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                      <div style="width: 124px; align-self: center; padding: 4px;">Кодовое слово:
                      </div>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                      <span style="width: 30px; height: 24px; border: 1px solid black;"> </span>
                  </div>
              </div>
              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 20%; align-self: center; padding: 4px;">ФИО Клиента
                  </div>

                  <span style="width: 80%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>

              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>

              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 25%; align-self: center; padding: 4px;">Прежняя фамилия
                  </div>

                  <span style="width: 75%; height: 24px;  border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>

              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
          </div>

          <div class="row">
              <div class="col"  style="height: 5px;">
              &nbsp;
              </div>
          </div>

        <!-- СВЕДЕНИЯ О БРАКЕ -->
          <div class="block"
              style=" border: 3px solid black;">
              <div class="row"
                  style="background-color: #D9D9D9;
                  display: flex;
                  min-height: 24px;
                  justify-content: center;
                  text-align: center;
                  margin: 0 1px;
                  -webkit-print-color-adjust: exact;">
              <span style="align-self: center;"><strong>СВЕДЕНИЯ О БРАКЕ</strong></span>
              </div>
              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 180px; padding: 4px;">Семейное положение:
                  </div>
                  <div style="width: 150px;">
                      <div style="width: 35px; height: 24px; border: 1px solid black; margin-left: 40px;"></div>
                      <div class="text-center">Женат/замужем</div>
                  </div>
                  <div style="width: 150px;">
                      <div style="width: 35px; height: 24px; border: 1px solid black; margin-left: 50px;"></div>
                      <div class="text-center">НЕ женат/НЕ замужем</div>
                  </div>
              </div>
              </div>            
              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 25%; padding: 4px;">ФИО супруга(и)
                  </div>
                  <span style="width: 75%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>

              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>

              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 35%; padding: 4px;">Дата рождения супруга(и)                
                  </div>
                  <span style="width: 65%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>
              <div class="row">
                  <div class="col" style="height: 7px;">
                      &nbsp;
                  </div>
              </div>
              <div class="row" style="width: 100%; text-align: left;">
                  <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                      <div style="width: 20%; padding: 4px;">Дата брака                
                      </div>
                      <span style="width: 25%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
                      <div style="width: 35%; padding: 4px; margin-left: 20px;">Кол-во детей до 18 лет:            
                      </div>
                      <span style="width: 20%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col" style="height: 7px;">
                      &nbsp;
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col" style="height: 5px;">
              &nbsp;
              </div>
          </div>
        <!-- СВЕДЕНИЯ О МЕСТЕ ЖИТЕЛЬСТВА -->
          <div class="block"
              style=" border: 3px solid black;">
              <div class="row"
                  style="background-color: #D9D9D9;
                      display: flex;
                      min-height: 24px;
                      justify-content: center;
                      text-align: center;
                      margin: 0 1px;
                      -webkit-print-color-adjust: exact;">
              <span style="align-self: center;"><strong>СВЕДЕНИЯ О МЕСТЕ ЖИТЕЛЬСТВА</strong></span>
              </div>
              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 40%; align-self: center; padding: 4px;">Адрес фактического проживания
                  </div>

                  <span style="width: 60%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>
              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <span
                      style="width: 100%; margin-left: 10px; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>
              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>

              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 38%; padding: 4px;">Дата регистрации (в паспорте)
                  </div>

                  <span style="width: 62%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>

              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>

              <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 30%; align-self: center; padding: 4px;">Домашний телефон
                  </div>
                  <div style="width: 25px; padding: 4px;">
                      <b>8</b>
                  </div>                
                  <span style="width: 70%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
              </div>

              <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
              </div>
          </div>
          <div class="row">
              <div class="col" style="height: 5px;">
              &nbsp;
              </div>
          </div>

        <!-- КОНТАКТНОЕ ЛИЦО -->
      <div class="block"
            style=" border: 3px solid black;">
          <div class="row"
              style="background-color: #D9D9D9;
                  display: flex;
                  min-height: 24px;
                  justify-content: center;
                  text-align: center;
                  margin: 0 1px;
                  -webkit-print-color-adjust: exact;">
            <span style="align-self: center;"><strong>КОНТАКТНОЕ ЛИЦО</strong></span>
          </div>
          <div class="row">
            <div class="col"  style="height: 7px;">
              &nbsp;
            </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 15%; align-self: center; padding: 4px;">ФИО
              </div>
              <span style="width: 85%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>
          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>

          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 25%; align-self: center; padding: 4px;">Степень родства
              </div>
              <span style="width: 75%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>

          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>

          <div class="row" style="width: 100%; text-align: left;">
                  <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                    <div style="width: 25%; align-self: center; padding: 4px;">Сотовый телефон
                    </div>
                    <div style="width: 25px; padding: 4px;">
                        <b>8</b>
                    </div>                
                    <span style="width: 75%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
                  </div>
          </div>

          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
      </div>

        <div class="row">
          <div class="col" style="height: 5px;">
            &nbsp;
          </div>
        </div>

        <!-- СВЕДЕНИЯ О РАБОТЕ И ОБРАЗОВАНИИ -->
        <div class="block"
            style=" border: 3px solid black;">
          <div class="row"
              style="background-color: #D9D9D9;
                  display: flex;
                  min-height: 24px;
                  justify-content: center;
                  text-align: center;
                  margin: 0 1px;
                  -webkit-print-color-adjust: exact;">
            <span style="align-self: center;"><strong>СВЕДЕНИЯ О РАБОТЕ И ОБРАЗОВАНИИ</strong></span>
          </div>
          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 25%; padding: 4px;">Образование                
                  </div>
                  <span style="width: 25%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
                  <div style="width: 25%; padding: 4px; margin-left: 20px;">Должность            
                  </div>
                  <span style="width: 25%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
          </div>
          <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 50%; align-self: center; padding: 4px;">Дата начала работы в данной организации
                  </div>    
                  <span style="width: 50%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
          </div>
          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 30%; align-self: center; padding: 4px;">Стаж общий трудовой
              </div>
              <span style="width: 70%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>

          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>

          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 50%; align-self: center; padding: 4px;"><b>Год выхода на пенсию (Ж-с 55, М-с 60)</b>
              </div>

              <span style="width: 50%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>

          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" style="height: 5px;">
            &nbsp;
          </div>
        </div>

        <!-- СВЕДЕНИЯ О РАБОТОДАТЕЛЕ -->
        <div class="block"
            style=" border: 3px solid black;">
          <div class="row"
              style="background-color: #D9D9D9;
                  display: flex;
                  min-height: 24px;
                  justify-content: center;
                  text-align: center;
                  margin: 0 1px;
                  -webkit-print-color-adjust: exact;">
            <span style="align-self: center;"><strong>СВЕДЕНИЯ О РАБОТОДАТЕЛЕ</strong> &nbsp;(если работает)</span>
          </div>
          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 40%; align-self: center; padding: 4px;">Наименование работодателя
              </div>
              <span style="width: 60%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>
          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>

          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 27%; align-self: center; padding: 4px;">Вид деятельности
              </div>
              <span style="width: 73%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>

          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>

          <div class="row" style="width: 100%; text-align: left;">
            <div class="col-md-12" style="display: flex; justify-content: flex-start;">
              <div style="width: 15%; align-self: center; padding: 4px;">Адрес
              </div>

              <span style="width: 85%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
            </div>
          </div>


          <div class="row">
            <div class="col" style="height: 7px;">
              &nbsp;
            </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 20%; padding: 4px;">Телефон раб.
                  </div>
                  <span style="width: 30%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
                  <div style="width: 15%; padding: 4px; margin-left: 20px;">Доход            
                  </div>
                  <span style="width: 35%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
          </div>
          <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
          </div>
          <div class="row" style="width: 100%; text-align: left;">
              <div class="col-md-12" style="display: flex; justify-content: flex-start;">
                  <div style="width: 50%; align-self: center; padding: 4px;">Сколько лет работает в данной компании?
                  </div>
                  <span style="width: 50%; height: 24px; border-bottom: 1px dashed black; margin-right: 10px;"></span>
              </div>
          </div>
          <div class="row">
              <div class="col" style="height: 7px;">
                  &nbsp;
              </div>
          </div>
      </div>
      </div>
    </div>
</div>