button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 18px;
  width: 18px;
}
.mat-icon.mdi-18px svg {
  height: 18px;
  width: 18px;
}
.mat-icon.mdi-24px svg {
  height: 24px;
  width: 24px;
}
.mat-icon.mdi-36px svg {
  height: 36px;
  width: 36px;
}
