<div class="modal fade" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="agreementModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title" id="agreementModalLabel"><strong>Соглашение об&nbsp;обработке персональных
                    данных</strong></h4>
            </div>
            <div class="modal-body">
                <p>Настоящим в&nbsp;соответствии с&nbsp;Федеральным законом &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных
                    данных&raquo;
                    от&nbsp;27.07.2006 года свободно, своей волей и&nbsp;в&nbsp;своем интересе выражаю свое безусловное
                    согласие на&nbsp;обработку
                    моих персональных данных сервису FRESHCREDIT, зарегистрированным в&nbsp;соответствии с&nbsp;законодательством&nbsp;РФ
                    (далее по&nbsp;тексту&nbsp;&mdash; Оператор). Персональные данные&nbsp;&mdash; любая информация,
                    относящаяся к&nbsp;определенному
                    или определяемому на&nbsp;основании такой информации физическому лицу.</p>
                <p>Настоящее Согласие выдано мною на&nbsp;обработку следующих персональных данных:<br/>
                </p>
                <ul>
                    <li>Имя</li>
                    <li>Адрес электронной почты</li>
                    <li>Сообщение и/или комментарий</li>
                </ul>
                <p>Согласие дано Оператору для совершения следующих действий с&nbsp;моими персональными данными с&nbsp;использованием
                    средств автоматизации и/или&nbsp;без&nbsp;использования таких средств: сбор, систематизация, накопление,
                    хранение, уточнение
                    (обновление, изменение), использование, обезличивание, передача третьим лицам для указанных ниже
                    целей, а&nbsp;также
                    осуществление любых иных действий, предусмотренных действующим законодательством&nbsp;РФ как
                    неавтоматизированными,
                    так и&nbsp;автоматизированными способами.</p>
                <p>Данное согласие дается Оператору для обработки моих персональных данных в&nbsp;следующих целях:</p>
                <ul>
                    <li>Для оповещения об&nbsp;изменениях в&nbsp;работе FRESHCREDIT</li>
                    <li>Для идентификации Пользователя при использовании продуктов FRESHCREDIT</li>
                    <li>Для персонализации учета посещений (в&nbsp;том числе с&nbsp;целью предоставления
                        персонализированных
                        услуг Пользователю) и&nbsp;регистрации действий Пользователя FRESHCREDIT использует Cookies
                    </li>
                    <li>Для осуществления взаимодействия с&nbsp;Пользователем в&nbsp;рамках заключенных с&nbsp;FRESHCREDIT
                        договоров или соглашений
                    </li>
                    <li>Проведение статистических и&nbsp;иных исследований на&nbsp;основе обезличенных данных (в&nbsp;т.&nbsp;ч.
                        для выяснения мнения Пользователей о&nbsp;различных продуктах и&nbsp;услугах, оказываемых
                        FRESHCREDIT)
                    </li>
                </ul>
                <p>Настоящее согласие действует до&nbsp;момента его отзыва путем направления соответствующего
                    уведомления на&nbsp;электронный
                    адрес www.ru</p>
                <p>В&nbsp;случае отзыва мною согласия на&nbsp;обработку персональных данных Оператор вправе продолжить
                    обработку
                    персональных данных без моего согласия при наличии оснований, указанных в&nbsp;пунктах 2&nbsp;&mdash;
                    11&nbsp;части
                    1&nbsp;статьи&nbsp;6, части 2&nbsp;статьи 10&nbsp;и&nbsp;части 2&nbsp;статьи 11&nbsp;Федерального
                    закона &#8470;&nbsp;152-ФЗ
                    &laquo;О&nbsp;персональных данных&raquo; от&nbsp;27.06.2006&nbsp;г.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Понятно</button>
            </div>
        </div>
    </div>
</div>
