li a:hover {
  //text-decoration: none;
  color: #00b0ff;
}

.full-page-background {
  background: #3663b7; /* Для старых браузров */

  background: linear-gradient(to right, #3663b7, #00b2f1);
  //background-image: url(/assets/img/card-1.jpeg);
}
