<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.ru">
          <img src="/assets/img/logo/logo600.png" width="300" alt="На сайт копании">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a routerLink="/pages/login">
              <i class="material-icons">fingerprint</i> Вход в систему
            </a>
          </li>
          <li class="hidden">
            <a href="http://www.ru">
              <i class="material-icons">home</i> На сайт компании
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page register-page" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="row form-row">
          <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
            <div class="card card-signup card-hidden">
              <h3 class="card-title text-center">Регистрация</h3>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="card-content">
                      <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="user.name"
                               id="name"
                               name="name"
                               placeholder="ФИО пользователя">
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">face</i>
                        </span>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="user.login"
                               id="login"
                               name="login"
                               placeholder="Логин для входа">
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">email</i>
                      </span>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="user.email"
                               name="email"
                               placeholder="Эл. почта (e-mail)">
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">lock_outline</i>
                      </span>
                        <input type="password"
                               [(ngModel)]="user.password"
                               name="password"
                               placeholder="Пароль"
                               class="form-control"/>
                      </div>
                      <!-- If you want to add a checkbox to this form, uncomment this code -->
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="optionsCheckboxes" checked> Выражаю своё согласие с
                          <a href="#agreementLink"
                             class="agreement-link"
                             data-toggle="modal"
                             data-target="#agreementModal">правилами обработки персональных данных</a>.
                        </label>
                      </div>
                    </div>
                    <div class="footer text-center">
                      <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">
                        <i class="material-icons">fingerprint</i> Зарегистрироваться
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <romb-footer></romb-footer>
      </div>
    </div>
    <div class="full-page-background"></div>
  </div>
</div>
<romb-agreement-note></romb-agreement-note>
