<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Fresh Credit</a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li class="">
            <a href="/pages/register">
              <i class="material-icons">person_add</i> Register
            </a>
          </li>
          <li class="">
            <a href="/pages/login">
              <i class="material-icons">fingerprint</i> Login
            </a>
          </li>
          <li class=" active ">
            <a href="/pages/lock">
              <i class="material-icons">lock_open</i> Lock
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page lock-page" filter-color="black">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->

    <div class="content">
      <div class="container">
        <div class="row form-row">
          <div class="col-md-12">
            <p>Ошибка 404 такая страница не найдена</p>
          </div>
        </div>
        <romb-footer></romb-footer>
      </div>
    </div>
    <div class="full-page-background" style="background-image: url(../../../assets/img/lock.jpg) "></div>
  </div>
</div>
