<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-content">
            <div class="toolbar">
              <ul class="nav nav-tabs nav-tabs-info" data-tabs="tabs">
                <li class="">
                  <a href="#" data-toggle="tab">
                    <i class="material-icons">message</i> Чаты
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="">
                  <a href="#" data-toggle="tab">
                    <i class="material-icons">people</i> Контакты
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
            <!--<h4 class="card-title">Журнал документов</h4>-->
            <br>
            <p>Здесь выводятся все чаты сотрудника</p>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
