<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header card-header-icon" data-background-color="rose">-->
            <!--<i class="material-icons">event</i>-->
          <!--</div>-->
          <div class="card-content">
            <p>Не спеши, дорогой пользователь!</p>
            <p>Этот раздел будет позже</p>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
